@font-face {
  font-family: 'UtopiaDisplay';
  src:  url('../font/UtopiaStd-Disp.woff2') format('woff2'),
        url('../font/UtopiaStd-Disp.woff') format('woff');
}
@font-face {
  font-family: 'Utopia';
  src:  url('../font/UtopiaStd-Regular.woff2') format('woff2'),
        url('../font/UtopiaStd-Regular.woff') format('woff');
}
@font-face {
  font-family: 'UtopiaSemiBold';
  src:  url('../font/UtopiaStd-Semibold.woff2') format('woff2'),
        url('../font/UtopiaStd-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'UtopiaBold';
  src:  url('../font/UtopiaStd-BoldCapt.woff2') format('woff2'),
        url('../font/UtopiaStd-BoldCapt.woff') format('woff');
}
@font-face {
  font-family: 'UtopiaCaptIt';
  src:  url('../font/UtopiaStd-CaptIt.woff2') format('woff2'),
        url('../font/UtopiaStd-CaptIt.woff') format('woff');
}

$fontPrimary: 'Utopia', sans-serif;
$fontSecondary: 'UtopiaSemiBold', sans-serif;
$fontDisplay: 'UtopiaDisplay', sans-serif;
$fontBold: 'UtopiaBold', sans-serif;
$fontItalic: 'UtopiaCaptIt', sans-serif;
$fontSize: 2.2rem;

h1 {
  margin: 40px 0 0;
  font-family: $fontPrimary;
  font-size: 3.3rem;
  font-weight: normal;
  text-transform: uppercase;
  @media (max-height: 570px) {
    margin-top: 0;
    font-size: 2.8rem;
  }
}
h2, h3, h4 {
  font-family: $fontSecondary;
  font-weight: normal;
}
h2 {
  margin: 35px 0 0;
  font-size: 2.2rem;
  @media (max-height: 570px) {
    font-size: 1.8rem;
  }
}
p {
  margin: 40px 0;
}

.em {
  font-family: $fontBold;
}
.italic {
  font-family: $fontItalic;
}