// Grid
$xl: 1600px;
$lg: 990px;
$md: 768px;
$sm: 576px;
$gutter: 45px;
$container: $xl;

// Colors
$text: #3D342B;
$brand: #998675;
$bg: #BFB19E;

$light1: #F6F5F3;
$light2: #DCD6D0;
$light3: #CBC1B9;

$dark1: #4A4138;
$dark2: #998675;
$dark3: #BAADA1;
$dark4: $brand;

// Tones
$redDark: #903227;
$redMedium: #C55344;
$redPale: #DB8A80;

$greenDark: #355F30;
$greenMedium: #598235;
$greenPale: #95AD5C;

$yellowDark: #C88304;
$yellowMedium: #FAA80F;
$yellowPale: #FCC55F;

$blueDark: #295266;
$blueMedium: #407FA0;
$bluePale: #6DA8C5;

// Transitions
@mixin easeSineOut {
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
}
@mixin easeSineIn {
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
}
