.hero {
  width: 100vw;
  height: 100vh;
  padding: 35px 0;
  background-image: url(../assets/bg_Start_Col.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  @media (min-width: 577px) {
    width: 375px;
    height: 812px;
  }

  // Top section
  .top-section {
    font-family: $fontDisplay;
    font-size: 1.4rem;
    line-height: 1.6;
    text-transform: uppercase;
  }

  // Logo
  .logo {
    margin: 0 -45px;
    width: 100vw;
    height: 260px;
    background-image: url(../assets/logo.png);
    background-repeat: no-repeat;
    background-size: 223px 243px;
    background-position: calc(50vw - 51px) center;
    @media (min-width: 577px) {
      width: 375px;
      background-position: 135px center;
    }
  }

  // Title
  .subtitle {
    margin: 5px 0;
  }
}