.definition-top {
  margin: 0 auto;
  max-width: 170px;
  font-size: 1.8rem;
  line-height: 1.5;
  .definition-type {
    text-transform: uppercase;
  }
}
.definition-text {
  margin-top: 20px;
  padding-top: 42px;
  background-image: url(../assets/star.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center top;
  p {
    &:first-of-type {
      margin-top: 0;
    }
  }
}