.legend {
  margin-top: 5px;
  margin-left: -45px;
  margin-right: -45px;
  overflow: hidden;
  .col-5 {
    padding-right: 0;
  }
  .col-7 {
    padding-left: 0;
  }

  // Legend colors
  .legend-colors-section {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1.2;
    text-transform: uppercase;
    .legend-color {
      margin: 3px 0;
      .pastille,
      .legend-label {
        display: inline-block;
        vertical-align: middle;
      }
      .legend-label.down {
        position: relative;
        top: 2px;
      }
      .pastille {
        margin-left: -20px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }
      &.color-it .pastille { background-color: $greenDark }
      &.color-ds .pastille { background-color: $greenMedium }
      &.color-science .pastille { background-color: $greenPale }
      &.color-comm .pastille { background-color: $redDark }
      &.color-design .pastille { background-color: $redMedium }
      &.color-art .pastille { background-color: $redPale }
      &.color-business .pastille { background-color: $blueDark }
      &.color-finance .pastille { background-color: $blueMedium }
      &.color-economy .pastille { background-color: $bluePale }
      &.color-teacher .pastille { background-color: $yellowDark }
      &.color-student .pastille { background-color: $yellowMedium }
      &.color-research .pastille { background-color: $yellowPale }
      &.color-free .pastille { background-color: $dark1 }
      &.color-manager .pastille { background-color: $dark2 }
      &.color-exec .pastille { background-color: $dark3 }
      &.color-dir .pastille { background-color: $light3 }
      &.color-unemployed .pastille { background-color: $light2 }
      &.color-another .pastille { background-color: $light1 }
    }
  }

  // Legend description
  .legend-description {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: $gutter;
    font-size: 20px;
    background-image: url(../assets/deco-left.svg);
    background-repeat: no-repeat;
    background-size: 25px 48px;
    background-position: 0 0;
  }
}