.scroll-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: #fff;
  @media (min-width: 577px) {
    margin: 60px auto;
    width: 375px;
    height: 812px;
    border: 2px solid $text;
    border-radius: 48px;
  }
}
.section {
  height: 100vh;
  scroll-snap-align: center;
}
.content {
  margin-top: -1px;
  max-height: 100vh;
  background-image: url(../assets/bg_Intro_Col.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}