#titles-viz {
  position: relative;
  margin: 60px 0;
  svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .arches {
    path {
      opacity: 1;
      transition-property: opacity;
      @include easeSineIn;
      &.down {
        opacity: 0.1;
        @include easeSineOut;
      }
      &.highlighted {
        opacity: 1;
      }
    }
  }
}