.tooltip {
  position: absolute;
  top: -100vh;
  left: -1000vw;
  padding: 6px 10px 5px;
  background-color: $light1;
  border: 1px solid $brand;
  border-radius: 3px;
  font-size: 1.5rem;
  line-height: 1;
  opacity: 0;
  &.visible {
    opacity: 1;
  }
}